<html>
	
	<head>
		<title> PatternHouse Guides </title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Playfair+Display&family=Titillium+Web:wght@200&family=Ubuntu&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="main.css">
	</head>

	<div class="main-container">
		<div class="sc-a sc-b sc-c sc-d sc-e">	
			<div class="ha hb hc hd he">
				Guides @ PatternHouse
				<hr>
			</div>
			<div class="na nb nc nd ne">
				 / <strong> <a href="../patterns.html"> Patterns </a> </strong> / <strong> <a href="../[Replace with type].html"> [Replace with your pattern type] </a> </strong> / <strong> <a href="#"> [Replace with your pattern name] </a> </strong>
			</div> <br>

			<div class="cta ctb ctc ctd cte"> 
				<strong> [Replace with the name of the pattern] </strong>
			</div> <br>

			<div class="cta ctb ctc ctd cte"> 
				<u> About </u> 
			</div>
			<div class="cba cbb cbc cbd cbe">
				{ Replace with a short description of the pattern and possibly attach the pattern itself. }
			</div> <br>

			<div class="cta ctb ctc ctd cte"> 
				<u> Logic </u> 
			</div> 
			<div class="cba cbb cbc cbd cbe">
				{ Replace with the logic behind the pattern feel free to go as deep as you want while staying within context. Discuss the math behind the logic. Also attach
				relevant images/screenshots and hyperlinks. }
			</div> <br>

			<div class="cta ctb ctc ctd cte"> 
				<u> Code </u> 
			</div>
			<div class="cba cbb cbc cbd cbe">
				{ Attach code samples of the pattern }
			<div class="data">
				// In this preformated text box
			</div>
			</div> <br>

			<div class="cta ctb ctc ctd cte"> 
				<u> Related </u> 
			</div>
			<div class="cba cbb cbc cbd cbe">
				{ In here attach other relevant patterns and possibly write exercises for the reader relating to the same logic. }
			</div> <br>
			
			<div class="cta ctb ctc ctd cte"> 
			  Written By : [Your name] , [Previous authors, if applicable] <br> <br>
			  Copyright(C) 2021, PatternHouse, MIT License <br> <br>
			</div>

		</div>
	</div>

</html>